[Desktop Entry]
Name=qRezix
Version=2.1.2
Comment=qRezix est LE logiciel de messagerie instantanée du platal
Encoding=UTF-8
Exec=/usr/bin/qrezix
Icon=/usr/share/icons/qrezix_icon.png
Type=Application
Categories=Application;Network;
