# KDE Config File  
[Desktop Entry]
Type=Application
Exec=qrezix -caption "%c" %i %m  
Icon=qrezix.png
MiniIcon=qrezix.png
DocPath=qrezix/index.html
Comment=
Comment[de]=
Terminal=0
Name=QReziX
Name[de]=QReziX
