Source: qrezix
Section: net
Priority: optional
Build-Depends: libqt3c102-mt,kdelibs4-dev,qt3-dev-tools
Maintainer: br <br@frankiz.polytechnique.fr>
Standards-Version: 3.2.1

Package: qrezix
Architecture: any
Depends: ${shlibs:Depends},qrezix-theme,qrezix-translations
Description: QRezix Paquet CVS
 
Package: qrezix-theme-noia-warm
Architecture: all
Provides: qrezix-theme
Description: Thèmes d'icone pour QRezix basé sur le thème d'icones KDE du même nom, par Lathuile

Package: qrezix-theme-classic
Architecture: all
Provides: qrezix-theme
Description: Thèmes d'icone pour QRezix par défaut

Package: qrezix-theme-krystal
Architecture: all
Provides: qrezix-theme
Description: Thèmes d'icone pour QRezix basé sur le thème d'icones Krystal de KDE

Package: qrezix-theme-ms
Architecture: all
Provides: qrezix-theme
Description: Thèmes d'icone pour QRezix par Lathuile: Open M$$!

Package: qrezix-translations-fr
Architecture: all
Provides: qrezix-translations
Description: Fichiers de traduction Français pour QRezix

Package: qrezix-translations-us
Architecture: all
Provides: qrezix-translations
Description: Fichiers de traduction Anglais pour QRezix

