#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.

package=qrezix

ifeq ($(DEB_BUILD_GNU_TYPE),i386-linux)
  # Uncomment the following 2 lines to enable i686 optimziation
  # You may want to tweak the settings to your likings
  #export CFLAGS=-march=pentium3 -O3 -pipe -ffast-math -fomit-frame-pointer -z combreloc -fno-strict-aliasing -mpreferred-stack-boundary=4 -falign-functions=4 -falign-jumps=4 -falign-loops=4 -fforce-addr -fprefetch-loop-arrays -maccumulate-outgoing-args -fPIC
  #export CXXFLAGS=-march=pentium3 -O3 -pipe -ffast-math -fomit-frame-pointer -z combreloc -fno-strict-aliasing -mpreferred-stack-boundary=4 -falign-functions=4 -falign-jumps=4 -falign-loops=4 -fforce-addr -fprefetch-loop-arrays -maccumulate-outgoing-args -fPIC
  export CFLAGS=-O2 -pipe
  export CXXFLAGS=-O2 -pipe
  FAST_MALLOC=--enable-fast-malloc=full
endif

build: qt_only.stamp
	touch build
	
qt_only.stamp: checkdir configure
	# On commence par compiler pour Qt seul
	QTDIR=/usr/share/qt3 ./configure --prefix=/usr --disable-rpath --datadir=/usr/share
	$(MAKE) 
	$(MAKE) install DESTDIR=$(CURDIR)/debian/qrezix-bin
	# Paquets séparés pour les Traductions
	mkdir -p $(CURDIR)/debian/qrezix-translations-fr/usr/share/qrezix/translations/
	mv $(CURDIR)/debian/qrezix-bin/usr/share/qrezix/translations/qrezix_fr.qm $(CURDIR)/debian/qrezix-translations-fr/usr/share/qrezix/translations/
	# Paquets séparés pour les thèmes
	mkdir -p $(CURDIR)/debian/qrezix-theme-ms/usr/share/qrezix/themes/
	mv $(CURDIR)/debian/qrezix-bin/usr/share/qrezix/themes/ms $(CURDIR)/debian/qrezix-theme-ms/usr/share/qrezix/themes/
	mkdir -p $(CURDIR)/debian/qrezix-theme-classic/usr/share/qrezix/themes/
	mv $(CURDIR)/debian/qrezix-bin/usr/share/qrezix/themes/classic $(CURDIR)/debian/qrezix-theme-classic/usr/share/qrezix/themes/
	mkdir -p $(CURDIR)/debian/qrezix-theme-noia-warm/usr/share/qrezix/themes/
	mv $(CURDIR)/debian/qrezix-bin/usr/share/qrezix/themes/NoiaWarmKDE $(CURDIR)/debian/qrezix-theme-noia-warm/usr/share/qrezix/themes/
	mkdir -p $(CURDIR)/debian/qrezix-theme-krystal/usr/share/qrezix/themes/
	mv $(CURDIR)/debian/qrezix-bin/usr/share/qrezix/themes/krystal $(CURDIR)/debian/qrezix-theme-krystal/usr/share/qrezix/themes/
	mkdir -p $(CURDIR)/debian/qrezix-theme-macosx/usr/share/qrezix/themes/
	mv $(CURDIR)/debian/qrezix-bin/usr/share/qrezix/themes/MacOSX $(CURDIR)/debian/qrezix-theme-macosx/usr/share/qrezix/themes/
	mkdir -p $(CURDIR)/debian/qrezix-theme-kids/usr/share/qrezix/themes/
	mv $(CURDIR)/debian/qrezix-bin/usr/share/qrezix/themes/Kids $(CURDIR)/debian/qrezix-theme-kids/usr/share/qrezix/themes/
     
	touch qt_only.stamp

checkdir:
	$(checkdir)
	touch checkdir

configure:	
	make -f Makefile.dist


clean:
	if test -f Makefile; then\
		make distclean;\
	fi
	dh_clean -k -A
	rm -f build
	rm -f checkdir qt_only.stamp kde.stamp

binary-indep: checkroot build
	$(checkdir)

	dh_install -i --list-missing
# There are no architecture-independent files to be uploaded
# generated by this package.  If there were any they would be
# made here.

binary-arch: checkroot build
	dh_testdir
	dh_testroot
	dh_installchangelogs
	#dh_installdocs
	dh_installdocs -A ChangeLog README AUTHORS COPYING TODO
	#dh_installexamples
	#dh_installmenu
	#dh_installdebconf
	#dh_installlogrotate
	#dh_installemacsen
	#dh_installpam
	#dh_installmime
	#dh_installinit
	#dh_installcron
	#dh_installinfo
	#dh_installman
	#dh_strip
	#dh_link
	#dh_compress -X.docbook -X.css -X-license -X.dcl -X.bz2
	dh_fixperms
	dh_makeshlibs -V
	dh_installdeb
	#dh_perl
	dh_shlibdeps -ldebian/ark/usr/lib:debian/ksim/usr/lib:debian/klaptopdaemon/usr/lib:debian/kmilo/usr/lib
	dh_undocumented -A qrezix.1
	dh_gencontrol
	dh_md5sums
	dh_builddeb





	
	
define checkdir
	test -f debian/rules
endef

binary: binary-indep binary-arch

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
